.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    box-sizing: border-box;
    background-color: rgba(18, 18, 18, 0.7);
    backdrop-filter: blur(5px);
}

.user-name {
    display: flex;
    justify-content: center;
    width: 50%;
}

.app-name {
    display: flex;
    justify-content: left;
    width: 25%;
}

.header-btn {
    display: flex;
    justify-content: right;
    width: 25%;
}

.login-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    font-weight: solid;
    cursor: pointer;
    transition: all 0.35 ease-in-out;
}

.login-btn {
    background-color: #1DB954;
    color: black;
}

.login-btn:hover {
    background-color: #18a34d;
}